.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #36454F, #2C3E50, #4F5D75);
    color: white;
    flex-direction: column;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-image img {
    max-width: 350px;
    border-radius: 10px;
}

.about-text {
    text-align: center;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    padding: 5px;
}
